<body>
    <!--contain-->
    <div class="container">
        <h1 class="text-center">Zodiac Characteristics</h1>
        <div class="row">
            {{#each zodiacs}}
            <div class="col-md-3">
                <a href="task4.htm/{{name}}">
                    <img src="images{{imagePath}}" alt="{{name}}" class="img-circle img-thumbnail">
                    <h2 class="text-center">{{name}}<br />
                        <small>{{dates}}</small>
                        </br />
                    </h2>
                </a>
            </div>
            {{/each}}

            {{!-- <div class="col-md-3">
                <a href="task4-details.htm">
                    <img src="images/task4/pisces.jpg" alt="Pisces" class="img-circle img-thumbnail">
                    <h2 class="text-center">Pisces<br />
                        <small>February 19 - March 20</small>
                        </br />
                    </h2>
                </a>
            </div>

            <div class="col-md-3">
                <a href="task4-details.htm">
                    <img src="images/task4/aries.jpg" alt="Aries" class="img-circle img-thumbnail">
                    <h2 class="text-center">Aries<br />
                        <small>March 21 - April 19</small>
                        </br />
                    </h2>
                </a>
            </div>

            <div class="col-md-3">
                <a href="task4-details.htm">
                    <img src="images/task4/taurus.jpg" alt="Taurus" class="img-circle img-thumbnail">
                    <h2 class="text-center">Taurus<br />
                        <small>April 20 - May 20</small>
                        </br />
                    </h2>
                </a>
            </div>

            <div class="col-md-3">
                <a href="task4-details.htm">
                    <img src="images/task4/gemini.jpg" alt="Gemini" class="img-circle img-thumbnail">
                    <h2 class="text-center">Gemini<br />
                        <small>May 21 - June 20</small>
                        </br />
                    </h2>
                </a>
            </div>

            <div class="col-md-3">
                <a href="task4-details.htm">
                    <img src="images/task4/cancer.jpg" alt="Cancer" class="img-circle img-thumbnail">
                    <h2 class="text-center">Cancer<br />
                        <small>June 21 - July 22</small>
                        </br />
                    </h2>
                </a>
            </div>

            <div class="col-md-3">
                <a href="task4-details.htm">
                    <img src="images/task4/leo.jpg" alt="Leo" class="img-circle img-thumbnail">
                    <h2 class="text-center">Leo<br />
                        <small>July 23 - August 22</small>
                        </br />
                    </h2>
                </a>
            </div>

            <div class="col-md-3">
                <a href="task4-details.htm">
                    <img src="images/task4/virgo.jpg" alt="Virgo" class="img-circle img-thumbnail">
                    <h2 class="text-center">Virgo<br />
                        <small>August 23 - September 22</small>
                        </br />
                    </h2>
                </a>
            </div>

            <div class="col-md-3">
                <a href="task4-details.htm">
                    <img src="images/task4/libra.jpg" alt="Libra" class="img-circle img-thumbnail">
                    <h2 class="text-center">Libra<br />
                        <small>September 23 - October 22</small>
                        </br />
                    </h2>
                </a>
            </div>

            <div class="col-md-3">
                <a href="task4-details.htm">
                    <img src="images/task4/scorpio.jpg" alt="Scorpio" class="img-circle img-thumbnail">
                    <h2 class="text-center">Scorpio<br />
                        <small>October 23 - November 21</small>
                        </br />
                    </h2>
                </a>
            </div>

            <div class="col-md-3">
                <a href="task4-details.htm">
                    <img src="images/task4/sagittarius.jpg" alt="Sagittarius" class="img-circle img-thumbnail">
                    <h2 class="text-center">Sagittarius<br />
                        <small>November 22 - December 21</small>
                        </br />
                    </h2>
                </a>
            </div>

            <div class="col-md-3">
                <a href="task4-details.htm">
                    <img src="images/task4/capricorn.jpg" alt="Capricorn" class="img-circle img-thumbnail">
                    <h2 class="text-center">Capricorn<br />
                        <small>December 22 - January 19</small>
                        </br />
                    </h2>
                </a>
            </div> --}}

        </div>
    </div>
    <!--/contain-->
</body>